body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2c3e50, #3498db);
    color: white;
    margin: 0;
    padding: 0;
}

.game {
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    background: rgba(0,0,0,0.35);
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}


input {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 8px;
    margin-right: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;;
}

button:hover {
    opacity: 0.9;
}

#message {
    margin-top: 15px;
    font-size: 18px;
}